<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact-list mongodb</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
   <h1>Contact List database</h1>
    <div class="cardscontainer">
       <%for(let i=0;i<valuearr.length;i++){%>
        <a href="/delete/?val=<%=valuearr[i]%>">delete</a>
        <div class="cards"><%=valuearr[i].name%> <%=valuearr[i].phone%></div>
        <%}%>
    </div>
    <form action="/" method="POST" class="container">
        <label for="nameinput">Name</label>
        <input type="text" id="nameinput" name="name">
        <label for="numberinput">Phone number</label>
        <input type="number" id="numberinput" name="phone">
        <button type="submit">Submit</button>   
    </form>
</body>
</html>